[user]
	email = tadas.nevinskas@ui.com
	name = Tadas Nevinskas
[pull]
	rebase = true

[push]
	autoSetupRemote = true
	recurseSubmodules = on-demand

[alias]
	s = status
	d = diff
	ch = checkout
	br = branch
	ca = commit --amend
	cane = commit --amend --no-edit
	pr = pull --rebase
	l = log
	co = commit
	coa = commit --amend
	coane = commit --amend --no-edit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto

[merge]
	tool = nvim -d

[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[help]
	autocorrect = 20

[diff]
	submodule = log

[status]
	submodulesummary = 1

[submodule]
	recurse = 1

[core]
	abbrev = 8
